<!DOCTYPE html >
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hello {{ prenom }}!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p>Vous êtes sur mon site web</p>
        <h1>Bonjour {{prenom}} vous avez {{age}} ans</h1>
    </body>
</html>
